<% was_validated = relationship.errors.any? %>

<%= form_with(model: relationship, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = relationship.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% relationship.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for circle_id start -->
  <div class="form-group">
    <% circle_class = "form-control" %>
    <% circle_was_invalid = relationship.errors.include?(:circle) %>

    <% if was_validated %>
      <% if circle_was_invalid %>
        <% circle_class << " is-invalid" %>
      <% else %>
        <% circle_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :circle_id %>
    <!-- Input for circle_id start -->
    <%= f.number_field :circle_id, class: circle_class, placeholder: "Enter circle" %>
    <!-- Input for circle_id end -->
    <% if circle_was_invalid %>
      <% relationship.errors.full_messages_for(:circle).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for circle_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
