<%= form_with(model: @item, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :created_by %>

    <%= f.text_field :created_by, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>

    <%= f.text_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :url %>

    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>

    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :received, class: "form-check-input" %>
    <%= f.label :received, class: "form-check-label" %>
  </div>

  <%= f.hidden_field :purchased_by_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :circle_id %>

    <%= f.collection_select :circle_id, Circle.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :priority %>

    <%= f.text_field :priority, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "Create item", class: "btn btn-block btn-outline-secondary" %>
<% end %>
