<% was_validated = item.errors.any? %>

<%= form_with(model: item, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :created_by, value: current_user.id %>
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = item.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
    <% if image_was_invalid %>
      <% item.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% url_class = "form-control" %>
    <% url_was_invalid = item.errors.include?(:url) %>

    <% if was_validated %>
      <% if url_was_invalid %>
        <% url_class << " is-invalid" %>
      <% else %>
        <% url_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :url %>
    <%= f.text_field :url, class: url_class, placeholder: "Enter url" %>
    <% if url_was_invalid %>
      <% item.errors.full_messages_for(:url).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = item.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% item.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% price_class = "form-control" %>
    <% price_was_invalid = item.errors.include?(:price) %>

    <% if was_validated %>
      <% if price_was_invalid %>
        <% price_class << " is-invalid" %>
      <% else %>
        <% price_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :price %>
    <%= f.text_field :price, class: price_class, placeholder: "Enter price" %>
    <% if price_was_invalid %>
      <% item.errors.full_messages_for(:price).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-check">
    <% received_class = "form-check-input" %>
    <% received_was_invalid = item.errors.include?(:received) %>

    <% if was_validated %>
      <% if received_was_invalid %>
        <% received_class << " is-invalid" %>
      <% else %>
        <% received_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :received, class: "form-check-label" do %>
      <%= f.check_box :received, class: received_class %> Received
    <% end %>
    <% if received_was_invalid %>
      <% item.errors.full_messages_for(:received).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% purchased_by_class = "form-control" %>
    <% purchased_by_was_invalid = item.errors.include?(:purchased_by) %>

    <% if was_validated %>
      <% if purchased_by_was_invalid %>
        <% purchased_by_class << " is-invalid" %>
      <% else %>
        <% purchased_by_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :purchased_by_id %>
    <%= f.collection_select :purchased_by_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if purchased_by_was_invalid %>
      <% item.errors.full_messages_for(:purchased_by).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% circle_class = "form-control" %>
    <% circle_was_invalid = item.errors.include?(:circle) %>

    <% if was_validated %>
      <% if circle_was_invalid %>
        <% circle_class << " is-invalid" %>
      <% else %>
        <% circle_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :circle_id %>
    <%= f.collection_select :circle_id, Circle.all, :id, :to_s, {}, class: "form-control" %>
    <% if circle_was_invalid %>
      <% item.errors.full_messages_for(:circle).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% priority_class = "form-control" %>
    <% priority_was_invalid = item.errors.include?(:priority) %>

    <% if was_validated %>
      <% if priority_was_invalid %>
        <% priority_class << " is-invalid" %>
      <% else %>
        <% priority_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :priority %>
    <%= f.number_field :priority, class: priority_class, placeholder: "Enter priority" %>
    <% if priority_was_invalid %>
      <% item.errors.full_messages_for(:priority).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = item.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% item.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
