<!-- Form relationship start -->
<%= form_with(model: @relationship, local: true) do |f| %>
<!-- Form relationship end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for circle_id start -->
  <!-- Input for circle_id start -->
  <%= f.hidden_field :circle_id, value: @circle.id %>
  <!-- Input for circle_id end -->
  <!-- Label and input for circle_id end -->

  <%= f.submit "Create relationship", class: "btn btn-block btn-outline-secondary" %>
<% end %>
