<%= form_with(model: @relationship, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :circle_id, value: @circle.id %>

  <%= f.submit "Create relationship", class: "btn btn-block btn-outline-secondary" %>
<% end %>
